:root {
  --primary-color: #fed072; /*bakgrundfärg*/
  --secondary-color: #264ed8; /*knappar*/
  --text-color: #010b46;
  --accent-color: #071ed9; /*ex; underlines på länkar i nav*/
  --white: #ffffff; /*ex; bakgrundfärg eller textfärg på blå eller mörk bakgrund*/
}
